.env
*.pyc
__pycache__/
.pytest_cache/
.venv/
venv/
backend/logs/*.log
backend/logs/*.jsonl
backend/.env
backend/models/
frontend/backend_package/
release/
*.spec
dist/
build/
node_modules/
/logs/
/logs_backend_pid.txt
/logs_vite_pid.txt
/_archive/
frontend/logs/
app_current/
*.log
frontend/.env




